.loginPage {
  width: 100vw;
  height: 100vh;
  animation: fadeIn ease 4s;

  background-color: rgb(255, 255, 255);
  &__bottom {
    padding-top: 3rem;
    position: absolute;
    height: 35%;
    background-color: rgb(252, 252, 252);
    bottom: 0;
    left: 0;
    right: 0;
    border-top-left-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 10;
    &__button {
      width: 35vh;
      display: flex;
      flex-direction: row;
      background-color: white;
      height: 60px;
      border-radius: 1.4rem;
      border: 1px solid grey;
      text-align: center;
      align-items: center;
      justify-content: center;
      &--black {
        background-color: black;
        color: white;
        margin-top: 1rem;
      }
    }
    .buttonLogFacebook {
      height: 1rem;
      margin: 1rem;
    }
    .signUpText {
      margin-top: 1rem;
      font-size: 0.8rem;
      color: grey;
    }
    .forgotPasswordText {
      margin-top: 1rem;
      font-size: 0.8rem;
      color: rgb(45, 139, 202);
    }
  }
}

.slides {
  width: 100vw;
  height: 73vh;
  overflow: hidden;

  &__image {
    height: 100%;
  }
  &__text {
    position: absolute;
    z-index: 11;
    top: 0;
    padding: 3rem;
    color: rgb(255, 255, 255);
    &--black {
      color: black;
    }
  }
}

.link {
  text-decoration: none;
  color: grey;
}
