.registerFormDiv {
  padding-left: 2rem;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url("https://static.vecteezy.com/system/resources/previews/001/218/592/non_2x/background-wallpaper-with-polygons-in-gradient-colors-vector.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  form {
    align-items: center;
    text-align: center;
    select {
      margin: 1rem;
    }
    input {
      margin: 1rem;
      text-align: center;
    }
  }
}

.submitRegister {
  background-color: black;
  color: white;
  border: none;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 0.5rem;
}
